
/* App.css */
body {
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  background-color: #f0f0f0; /* Set a background color for the entire page */
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0px; /* Add padding to the main container if needed */
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.slideshow-container {
  flex: 1;
  margin-right: 0px;
  width: 100%;
}

.calendar-container {
  flex: 1;
}

.signin-container {
  flex: 1;
  margin-right: 20px;
}