[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "14.2.0"
flask = "*"
flask-migrate = "3.1.0"
flask-sqlalchemy = "*"
importlib-metadata = "6.0.0"
sqlalchemy-serializer = "1.4.1"
flask-cors = "3.0.10"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.9"
